fastapi==0.111.0
fastapi_cors==0.0.6
uvicorn[standard]==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
motor==3.7.1 
pymongo==4.13.2 
dnspython==2.7.0
passlib 
pyjwt==2.9.0
bcrypt==4.0.1 
cloudinary==1.40.0
pydantic-core==2.18.2
beanie==1.26.00
python-multipart==0.0.9
openai==1.33.0
resend==2.0.0